*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-heading: 'Epilogue', sans-serif; /*Fonte do header */
  --font-texting: 'Open sans', sans-serif; /*Fonte do body */


  --hue: 250;
  --background-primary: hsl(var(--hue), 22%, 20%); /*Cor de fundo da página*/
  --font-color: hsl(var(--hue),0%, 100%); /*Cor da fonte da página*/
  --font-recent: hsl(var(--hue), 50%, 80%); /*Fonte do "RECENTES" */

  font-size: 62.5%;
  --font-size-body: 1.6rem;
  --font-size-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
  --font-size-heading-small: clamp(3rem, 0.5rem + 4vw, 4rem);

}

body{
  font-family: var(--font-texting);
  font-size: var(--font-size-body);

  background-color: var(--background-primary);
  color: var(--font-color);

}

.page{
  max-width: 33rem;
  margin: 0 auto;
}

img{
  width: 100%; /* Ao colocarmos nossa imagem com essa propriedade, fazemos que as imagens      
                  se ajustem ao max-width: 33rem; */
  height: auto;
}

header{
  margin: 10rem 0 8rem;
  font-family: var(--font-heading);

  text-align: center; /*Centralizar o nosso head */
  
  animation: topdown 700ms;
}  

header p {
  color: var(--font-recent);
  text-transform: uppercase;

  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 3px;

  margin-bottom: 1.7rem;
}

header h1{
  font-size: var(--font-size-heading);
  font-weight: 800;
  line-height: 4.8rem;
}

main{
  display: grid;
  gap: 3.2rem; /*Espaçamento dos cards*/

  animation: downtop 700ms 350ms backwards;
}

.card{
  position: relative;

  font-family: var(--font-heading);
}

.card img{

  height: 41.6rem;
  object-fit: cover; /*Vai cobrir toda a caixa */

  border-radius: 10px;

  transition: all 300ms;

  filter: brightness(0.5) saturate(0.9);

}

.card img:hover{
  transform: scale(1.1);
  opacity: 0.4;
}

.card h2 {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  

  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: var(--font-size-heading-small) ;
  font-weight: 800;
}

.card h2 span{
  display: inline-flex; /* O span não recebe algumas propriedades como height, então aplicamos esse*/
  align-items: center; /*Centralizar texto dentro do background*/

  border-radius: 2rem;
  background-color: var(--font-color);
  font-size: var(--font-size-body);
  font-weight: 400;
  color: black;

  padding: 0 1.6rem;
  height: 3.8rem;

  width: fit-content; /*Propriedade para ajustar e encaixar o background branco de dentro da imagem*/
}

@keyframes topdown{     /* At-rule para animações*/
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  50%{
    opacity: 0.5;
    transform: translateY(-7.5px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width:700px){
 
  .page{
    max-width: 117rem;
    padding: 0 5rem;
  }

  main{
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width:930px) {

  main{
    grid-template-areas: "A B B"
    "C C D";
  }

  main div:nth-child(1){
    grid-area: A;
  }

  main div:nth-child(2){
    grid-area: B;
  }

  main div:nth-child(3){
    grid-area: C;
  }

  main div:nth-child(4){
    grid-area: D;
  }

}
